<div class="cwPopoutTemplateContent" ng-controller="cwPopoutManager">
  <div id="tabs-region" class="tabs-region" ng-if="nbOfViews > 0">
    <div class="tabs-container">
      <ul class="list-tabs">
        <li class="tab tab-left" ng-repeat="(k, v) in views" id="popout-tab-{{k}}" ng-click="displayTabContent(k)" ng-class="{'tab-active': v.isSelected == true}">
          <span class="tab-item">
            <i class="tab-icon"></i>
            <span class="tab-title">
              {{v.name}}
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div id="view-regions" class="view-region">
    <div class="view-container">
      <div class="list-view" ng-repeat="(k, v) in views" ng-if="v.isSelected" ng-bind-html="displayTrusted(v.htmlContent)">
      </div>
    </div>
  </div>
</div>