/* GLOBAL */
/* LOGIN */
/* DIAGRAM */
/* HOME PAGE */
/* MENU LEFT */
/* MAIN MENU */
/* SUB MENU */
/* PAGE TAB */
/* DROPDOWN NOTIFICATIONS */
/* SOCIAL */
/* LIST BOX */
/* PROPERTIES GROUP */
/* BUTTONS */
/* PAGE ACTIONS */
/* ACCORDIONS */
/* DISCUSSIONS */
/* WORLD MAP */
/* USER ZONE */
/* POPUP */
/* BADGES */
/* TASKS & NOTIFICATIONS */
/* GLOBAL SEARCH */
/* TOP BAR */
/* GRID */
/* DIAGRAM TILE */
/* MATRIX ADVANCED */
.panel-expander {
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgba(0, 0, 0, 0.25);
  border-top: 20px solid transparent;
  left: -20px;
  top: 50%;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  line-height: 160px;
  width: 0;
  z-index: 1010;
  position: absolute;
}
.panel-expander:before {
  font-family: FontAwesome;
  content: "\f104";
  padding-left: 5px;
  color: #5c5d61;
}
.popout-expanded .panel-expander:before {
  font-family: FontAwesome;
  content: "\f105";
}
@media screen and (min-width: 1024px) {
  .popout-open .popout.popout-expanded {
    width: 70%;
  }
}
div.cw-diagram-popout-container .actions-container {
  display: none;
}
.cw-diagram-popout-container ul.cw-list,
.popout-content ul.cw-list {
  width: 100%;
}
.cw-diagram-popout-container div.actions-container .btn,
.popout-content div.actions-container .btn {
  float: right;
}
.cw-diagram-popout-container div.tabs-container ul.list-tabs,
.popout-content div.tabs-container ul.list-tabs {
  margin: 0px;
  padding-left: 5px;
  display: flex;
}
.cw-diagram-popout-container div.tabs-container li.item-tab,
.popout-content div.tabs-container li.item-tab {
  display: inline-block;
  height: 47px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cw-diagram-popout-container div.tabs-container li.item-tab span.tab-item,
.popout-content div.tabs-container li.item-tab span.tab-item {
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0 1rem;
}
.cw-diagram-popout-container div.tabs-container .tab-active > span.tab-item,
.popout-content div.tabs-container .tab-active > span.tab-item {
  -moz-box-shadow: inset 0 -2px #03a0ce;
  -webkit-box-shadow: inset 0 -2px #03a0ce;
  box-shadow: inset 0 -2px #03a0ce;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  color: #03a0ce;
}
.cw-diagram-popout-container div.tabs-region,
.popout-content div.tabs-region {
  -moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.12);
  height: 48px;
  vertical-align: top;
  width: 100%;
}
.cw-diagram-popout-container div.view-container,
.popout-content div.view-container {
  margin: 0.5em;
}
.view-region > div {
  display: flex;
  flex-wrap: wrap;
}
.view-region > div > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.view-region > div .property-box-asso,
.view-region > div .property-box,
.view-region > div .cwPropertiesTableContainer {
  width: 600px;
  margin-right: 2%;
}
